@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark: rgb(20, 20, 20);
    --yellow: rgb(253, 216, 53);
    --blue: rgb(98, 0, 234);
    
    --c1: rgb(3, 7, 18);
    --c2: rgb(186, 52, 52);
    
    --left-color: var(--c1);
    --right-color: var(--c2);
  }
  
  body {  
    background-color: var(--c2);
    margin: 0px;
  }
  
  .side {
    padding-block-start: 25vh;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  
  .side .title {
    font-family: "Montserrat", sans-serif;
    font-size: calc(2rem + 5vw);
    font-weight: 800;
    margin: 0px 10vw;
    width: 80vw;
  }
  
  .side .fancy {
    font-family: "Permanent Marker", cursive;
    font-size: 1.8em;
    line-height: 0.6em;
  }
  
  @keyframes sizeChange {
    0% { width: 100%; }
     100% { width: 0%; }
  }
  
  #left-side {
    background-color: var(--left-color);
    width: 100%;
    z-index: 2;
    padding-block-end: 200vh;
  }

  #left-side.animate {
    width: 0%;
    animation: sizeChange 2s cubic-bezier(.17,.84,.44,1);  }
  
  #left-side .title {  
    color: var(--right-color);  
  }
  
  #left-side .fancy {
    color: white;
  }
  
  #right-side {
    background-color: var(--right-color);
  }
  
  #right-side .title {
    color: white;
  }
  
  #right-side .fancy {
    color: var(--dark);
  }
