@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark: #1f2328;
    --c2: rgb(186, 52, 52);
    
    --left-color: var(--dark);
    --right-color: var(--c2);
  }

  .text-dark {
    color: var(--dark);
  }
  
  body {  
    color: var(--dark);
    background-color: var(--c2);
    margin: 0px;
  }

  .markdown-body {
    background-color: var(--c2)!important;
  }

  .markdown-body h1, h2, h3, h4, h5, h6 {
    border-color: var(--dark)!important;
  }

  .markdown-body table {
    margin-inline: auto;
  }

  .markdown-body table tr, th, td {
    background-color: unset!important;
    border-color: var(--dark)!important;
  }

  .side {
    padding-block-start: 25vh;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  
  .title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }
  .side .title {
    font-size: calc(2rem + 5vw);
    margin-inline: calc(50vw - 4ch);
  }

  .fancy {
    font-family: "Permanent Marker", cursive;
  }

  .logo .title {
    transform: rotate(-10deg);
  }

  .logo .fancy {
    transform: rotate(12deg);
  }
  
  .side .fancy {
    font-size: 1.8em;
    line-height: 0.6em;
  }
  
  #left-side {
    background-color: var(--left-color);
    width: 100%;
    z-index: 2;
    padding-block-end: 135vh;
  }
  
  #bottom-left-side {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background-color: var(--dark);
  }

  #left-side.animate, #bottom-left-side.animate {
    width: 0%;
    transition: all 2s cubic-bezier(.17,.84,.44,1);  
  }
  
  #left-side .title {  
    color: var(--right-color);  
  }
  
  #left-side .fancy {
    color: white;
  }
  
  #right-side {
    background-color: var(--right-color);
  }
  
  #right-side .title {
    color: white;
  }
  
  #right-side .fancy {
    color: var(--dark);
  }

  @keyframes animateHeight {
    from {
      height: 30vh;
    }
    to {
      height: 0;
    }
  }

  .footer-line {
    top: 4rem;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    position: absolute;
    height: 1px;
    background-color: var(--dark);
  }

  .content {
    margin-block-start: calc(150px + 40vh + 15vw);
  }