@import 'markdown.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #1f2328;
  --light: #d1d5db;
  --red: rgb(186, 52, 52); /* #ba3434 */

  --left-color: var(--dark);
  --right-color: var(--red);
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--dark);
  background-color: var(--red);
  margin: 0px;
}

.side {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.title {
  font-weight: 800;
}

.fancy {
  font-family: 'Charm', cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8em;
}

.thumbnail .title {
  padding-block-start: 25vh;
  padding-block-end: calc(25vh + 5vw);
  font-size: calc(2rem + 5vw);
  margin-inline: calc(50vw - 4ch);
  color: var(--light);
}

.thumbnail .fancy {
  line-height: 0.5em;
  color: var(--dark);
}

.logo .title {
  transform: rotate(-10deg);
}

.logo .fancy {
  transform: rotate(12deg);
}

#left-side {
  background-color: var(--left-color);
  width: 100%;
  z-index: 2;
  padding-block-end: 135vh;
}

#left-side .title {
  color: var(--right-color);
}

#left-side .fancy {
  color: var(--light);
}

#bottom-left-side {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--dark);
  z-index: 1;
}

#left-side.animate,
#bottom-left-side.animate {
  width: 0%;
  transition: all 2s cubic-bezier(0.17, 0.84, 0.44, 1);
}

.content {
  padding-inline: 3rem;
}

.footer-separator {
  top: 4rem;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
  position: absolute;
  height: 1px;
  background-color: var(--dark);
}

/* MAIN HEADLINE ANCHOR */

.my-anchor {
  float: left;
  margin-left: -20px;
  padding-right: 4px;
  line-height: 0.8;
}

.my-anchor .octicon {
  display: inline;
  fill: currentColor;
  vertical-align: middle;
  visibility: hidden;
}

.my-headline:hover .octicon {
  visibility: visible;
}
